/* Hero Section */
.hero {
    background: url('../images/hero-background.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.hero-content h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.hero-content h2 {
    font-size: 2rem;
}

.hero-content p {
    font-size: 1.5em;
}

.cta-button {
    background-color: #cb6ce6;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    margin-top: 20px;
    display: inline-block;
}
